body {
  text-align: center;
}

.period {
  color:#118293;
}
img {
  width: 50px;
}

input {
  width:50vw;
  background-color: transparent;
  border-color: #118293;
}

.list{
  padding: 20px 0 20px 0;
  background-color: #FCCF5D;
  margin: 5px
}

.paper {
  background-color: #FCCF5D;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.welcome-page{
  margin-top: 30vh;
}

.title {
  font-family: 'Permanent Marker', cursive;
  font-size: 70px;
  color: #FCCF5D;
  margin-top: -30px;
}

.header {
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  color: #FCCF5D;
}

.intro {
  font-size: 25px;
  color: #F9A05C;
  margin: -20px 20px 0px 20px;
  padding: 0 30px 0 30px;
}

.click {
  color: #F9E49F;
}

h3 {
  color: #F9A05C;
}

a {
  text-decoration: none;
  color: #21373D;
  font-weight: bold;
}

.sub {
  font-size: 25px;
  color: #F9A05C;
}

.button{
  background-color: #FCCF5D;
  font-size: 15px;  
  font-family: "Roboto";
  border-radius: 5px;
  border-color: #F9A05C;
  margin: 10px;
  padding: 15px;
}