body {
  text-align: center;
}

img {
  width: 50px;
}

input {
  display: flex;
}

.list{
  padding: 20px 0 20px 0;
  background-color: #FCCF5D;
  margin: 5px
}

.paper {
  background-color: #FCCF5D;
}

form {
  margin: 0 auto;
  width: 50vw;
}

.welcome-page{
  margin-top: 30vh;
}
.welcome {
  margin-bottom: -40px;
  color: #F9E49F;
}

.title {
  font-family: 'Permanent Marker', cursive;
  font-size: 70px;
  color: #FCCF5D;
}

.header {
  font-family: 'Permanent Marker', cursive;
  font-size: 70px;
  color: #FCCF5D;
}

h3 {
  color: #F9A05C;
}